In [126]:
# _*_coding:utf-8 _*_
import pandas as pd
import numpy as np
# import os
# import time

path =  r"C:\Users\1\Desktop\工作\202106\练习文件\处理数据.xlsx"


data = pd.read_excel(path)

data1=  pd.melt(data,id_vars=['日期'],var_name="城市维度", value_name="数值")


# 总算对了，设置两级索引。这样就不会变
data1 = data1.set_index(['日期','数值'] )["城市维度"].str.split("-", expand=True)
data1 =data1.["城市维度"].str.split("-", expand=True)



# data1.to_excel(r"C:\Users\1\Desktop\工作\202106\练习文件\1.xlsx")

# ["城市维度"].str.split("-", expand=True)

print (data1)

data2 = data1.reset_index()
print(data2)

data2 = data2.set_index(['日期',0,1])
print(data2)

                     0       1
日期       数值
20210501 241241.05  株洲     销售额
20210502 245865.25  株洲     销售额
20210503 234476.61  株洲     销售额
20210504 319913.32  株洲     销售额
20210505 330867.50  株洲     销售额
...                 ..     ...
20210605 24.93      长沙  店均销售件数
20210606 25.09      长沙  店均销售件数
20210607 30.00      长沙  店均销售件数
20210608 29.36      长沙  店均销售件数
20210609 26.62      长沙  店均销售件数

[1040 rows x 2 columns]
            日期         数值   0       1
0     20210501  241241.05  株洲     销售额
1     20210502  245865.25  株洲     销售额
2     20210503  234476.61  株洲     销售额
3     20210504  319913.32  株洲     销售额
4     20210505  330867.50  株洲     销售额
...        ...        ...  ..     ...
1035  20210605      24.93  长沙  店均销售件数
1036  20210606      25.09  长沙  店均销售件数
1037  20210607      30.00  长沙  店均销售件数
1038  20210608      29.36  长沙  店均销售件数
1039  20210609      26.62  长沙  店均销售件数

[1040 rows x 4 columns]
                           数值
日期       0  1
20210501 株洲 销售额     241241.05
20210502 株洲 销售额     245865.25
20210503 株洲 销售额     234476.61
20210504 株洲 销售额     319913.32
20210505 株洲 销售额     330867.50
...                       ...
20210605 长沙 店均销售件数      24.93
20210606 长沙 店均销售件数      25.09
20210607 长沙 店均销售件数      30.00
20210608 长沙 店均销售件数      29.36
20210609 长沙 店均销售件数      26.62

[1040 rows x 1 columns]

In [124]:

# print(data2)
data4 = data2.unstack()
print(data4)

                 数值
1            店均销售件数         销售额
日期       0
20210501 娄底   10.99    86553.32
         岳阳   12.88   128740.85
         常德    9.76    71587.48
         张家界  14.18    49497.89
         怀化   11.01    28374.47
...             ...         ...
20210609 益阳   16.25   215715.77
         衡阳   14.16   162158.51
         邵阳   12.10    87967.26
         郴州   14.57    81448.60
         长沙   26.62  1654882.28

[520 rows x 2 columns]

In [125]:
data4= data4.reset_index().rename_axis()
print(data4)
data4.to_excel(r"C:\Users\1\Desktop\工作\202106\练习文件\处理数据123.xlsx")

           日期    0     数值
1                  店均销售件数         销售额
0    20210501   娄底  10.99    86553.32
1    20210501   岳阳  12.88   128740.85
2    20210501   常德   9.76    71587.48
3    20210501  张家界  14.18    49497.89
4    20210501   怀化  11.01    28374.47
..        ...  ...    ...         ...
515  20210609   益阳  16.25   215715.77
516  20210609   衡阳  14.16   162158.51
517  20210609   邵阳  12.10    87967.26
518  20210609   郴州  14.57    81448.60
519  20210609   长沙  26.62  1654882.28

[520 rows x 4 columns]

Index(['日期', '数值', 0, 1], dtype='object')

日期
20210501  0        株洲
          1       销售额
20210502  0        株洲
          1       销售额
20210503  0        株洲
                ...
20210607  1    店均销售件数
20210608  0        长沙
          1    店均销售件数
20210609  0        长沙
          1    店均销售件数
Length: 2080, dtype: object