In [129]:
# _*_coding:utf-8 _*_
import pandas as pd
import numpy as np
# import os
# import time

path =  r"C:\Users\1\Desktop\工作\202106\练习文件\处理数据.xlsx"


data = pd.read_excel(path)

data1=  pd.melt(data,id_vars=['日期'],var_name="城市维度", value_name="数值")




# 总算对了，设置两级索引。这样就不会变
data1 = data1.set_index(['日期','数值'] )["城市维度"].str.split("-", expand=True)

# print(data1)
# data1 =data1.["城市维度"].str.split("-", expand=True)



# # data1.to_excel(r"C:\Users\1\Desktop\工作\202106\练习文件\1.xlsx")

# # ["城市维度"].str.split("-", expand=True)

# print (data1)

data2 = data1.reset_index()
print(data2)

data2 = data2.set_index(['日期',0,1])
print(data2)

           日期  数值   0     1
0    20210301   1  株洲  销售件数
1    20210302   1  株洲  销售件数
2    20210303   1  株洲  销售件数
3    20210304   1  株洲  销售件数
4    20210305   1  株洲  销售件数
..        ...  ..  ..   ...
171  20210312   1  娄底   销售额
172  20210313   1  娄底   销售额
173  20210314   1  娄底   销售额
174  20210315   1  娄底   销售额
175  20210316   1  娄底   销售额

[176 rows x 4 columns]
                  数值
日期       0  1
20210301 株洲 销售件数   1
20210302 株洲 销售件数   1
20210303 株洲 销售件数   1
20210304 株洲 销售件数   1
20210305 株洲 销售件数   1
...               ..
20210312 娄底 销售额    1
20210313 娄底 销售额    1
20210314 娄底 销售额    1
20210315 娄底 销售额    1
20210316 娄底 销售额    1

[176 rows x 1 columns]

In [130]:

# print(data2)
data4 = data2.unstack()
print(data4)

               数值
1            销售件数  销售额
日期       0
20210301 娄底   NaN  1.0
         岳阳   1.0  NaN
         张家界  NaN  1.0
         怀化   NaN  1.0
         株洲   1.0  NaN
...           ...  ...
20210316 湘潭   1.0  NaN
         益阳   NaN  1.0
         衡阳   1.0  NaN
         邵阳   1.0  NaN
         郴州   NaN  1.0

[176 rows x 2 columns]

In [131]:
data4= data4.reset_index().rename_axis()
print(data4)
data4.to_excel(r"C:\Users\1\Desktop\工作\202106\练习文件\处理数据123.xlsx")

           日期    0   数值
1                  销售件数  销售额
0    20210301   娄底  NaN  1.0
1    20210301   岳阳  1.0  NaN
2    20210301  张家界  NaN  1.0
3    20210301   怀化  NaN  1.0
4    20210301   株洲  1.0  NaN
..        ...  ...  ...  ...
171  20210316   湘潭  1.0  NaN
172  20210316   益阳  NaN  1.0
173  20210316   衡阳  1.0  NaN
174  20210316   邵阳  1.0  NaN
175  20210316   郴州  NaN  1.0

[176 rows x 4 columns]

Index(['日期', '数值', 0, 1], dtype='object')

日期
20210501  0        株洲
          1       销售额
20210502  0        株洲
          1       销售额
20210503  0        株洲
                ...
20210607  1    店均销售件数
20210608  0        长沙
          1    店均销售件数
20210609  0        长沙
          1    店均销售件数
Length: 2080, dtype: object