In [5]:
import time
 
# 格式化成2016-03-20 11:45:39形式
print (time.strftime("%Y-%m-%d %H:%M:%S", time.localtime()) ) 
print (time.strftime("%H:%M", time.localtime()) ) 
print(time.strftime("%Y-%m-%d-%H_%M_%S", time.localtime(time.time())))

2021-06-11 13:32:41
13:32
2021-06-11-13_32_41

In [6]:
# _*_coding:utf-8 _*_
import pandas as pd
import numpy as np
import os
import time


path =  r"C:\Users\1\Desktop\工作\202106\练习文件"

path1 = r"C:\Users\1\Desktop\工作\202106\save"

# 当前时间格式，很有用。
tim = time.strftime("%Y-%m-%d-%H_%M_%S", time.localtime(time.time()))

filenames = os.listdir(path)
df = pd.DataFrame()
for i in filenames:
    #     print (path + '\\'+ i )   -- 验证地址
    data = pd.read_excel(path + '\\' + i)
    df = df.append(data)

data1=  pd.melt(df,id_vars=['日期'],var_name="城市维度", value_name="数值")

print(data1)

            日期       城市维度         数值
0     20210501     株洲-销售额  241241.05
1     20210502     株洲-销售额  245865.25
2     20210503     株洲-销售额  234476.61
3     20210504     株洲-销售额  319913.32
4     20210505     株洲-销售额  330867.50
...        ...        ...        ...
1035  20210605  长沙-店均销售件数      24.93
1036  20210606  长沙-店均销售件数      25.09
1037  20210607  长沙-店均销售件数      30.00
1038  20210608  长沙-店均销售件数      29.36
1039  20210609  长沙-店均销售件数      26.62

[1040 rows x 3 columns]